@import "vars"; /* Переменные из SCSS*/
@import "fonts"; /* Шрифты */
@import "reset"; /* Обнуление CSS*/
@import "libs"; /*Загрузка сторонних плагинов*/
@import "global"; /* Глобальные стили*/

/* Ниже пишется основа*/

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 60px;
  }
  &__logo {
    max-height: 65px;
  }

  &__lists {
    display: flex;
    @extend %nav;
  }

  &__item {
    color: $colorsecond;
    & + & {
      margin-left: 50px;
    }
    &--active {
      color: $colormain;
      pointer-events: none;
    }
  }

  &__item-link {
    color: inherit;
    transition: $transition;
    &:hover {
      color: $colormain;
    }
  }

  &__talk {
    color: inherit;
    @extend %nav;
    padding: 15px 30px;
    background-color: #323232;
    border-radius: 12px;
    transition: $transition;
    &:hover {
      color: $colorsecond;
      background-color: $colormain;
    }
  }
}
/* FOOTER---------------------------------------------------------------------------*/
.footer {
  &__logo {
    margin: 0 auto;
    max-height: 65px;
    margin-bottom: 30px;
    margin-top: 50px;
  }

  &__lists {
    display: flex;
    justify-content: center;
    @extend %nav;
    color: $colorsecond;
    margin-bottom: 30px;
  }

  &__item {
    & + & {
      margin-left: 45px;
    }
  }

  &__item-link {
    color: inherit;
    transition: $transition;
    &:hover {
      color: $colormain;
    }
  }
}
/* SQUARE---------------------------------------------------------------------------*/
.square {
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 317px 240px 240px;
    gap: 28px 24px;
  }

  &__item:not(.block) {
    @extend %square;
    padding: 25px 23px;
  }
  &__item:not(.numbers, .block, .bio, .spec) {
    &:hover {
      box-shadow: 0 1px 1px $colormain;
    }
  }
}

.bio {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  &__img {
    margin-right: 38px;
    border-radius: 30px;
    filter: grayscale(.7);
  }

  &__content {
    margin: 45px 0 55px;
    max-width: 210px;
  }

  &__position {
    @extend %pos;
    margin-bottom: 10px;
  }

  &__name {
    @extend %name;
    margin-bottom: 20px;
  }

  &__descr {
    @extend %descr;
    width: 80%;
  }
}

.block {
  grid-column: 3/5;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 24px;
  &__item {
    padding: 15px 23px;
    &:hover {
      box-shadow: 0 1px 1px $colormain;
    }
  }
}

.slider {
  grid-column: 1/3;
  grid-row: 1/2;
  @extend %square;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  &__item {
    @extend %navbottom;
    white-space: nowrap;
  }
}
.about-block {
  grid-column: 1/2;
  grid-row: 2/3;
  @extend %square;
  display: flex;
  flex-direction: column;
  &__img {
    max-height: 124px;
  }
  .name {
    margin-top: auto;
  }
}
.works {
  grid-column: 2/3;
  grid-row: 2/3;
  @extend %square;
  position: relative;
  display: flex;
  flex-direction: column;
  &__text {
    position: absolute;
    top: 12px;
    left: 25px;
    font-size: 32px;
    color: $colorsecond;
    text-transform: uppercase;
    z-index: 0;
  }

  &__img {
    width: 185px;
    margin: 0 auto;
    filter: grayscale(0.5);
  }
  .name {
    margin-top: auto;
  }
}

.spec {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: grayscale(1);
    margin-top: 40px;
  }

  &__item {
    width: 48px;
    height: 48px;
    path {
      fill: white;
    }
  }
}
.profile {
  grid-column: 4/5;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__items {
    width: 224px;
    height: 124px;
    @extend %square;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(
      90deg,
      rgba(32, 32, 32, 1) 0%,
      rgba(32, 32, 32, 1) 100%
    );
    border: 1px solid #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    path {
      transition: all 0.5s;
      fill: white;
    }
    &:hover {
      background: white;
    }
    &:hover path {
      fill: black;
    }
  }
  &__img {
  }
}

.numbers {
  grid-column: 1/3;
  grid-row: 3/4;
  @extend %navbottom;
  display: flex;
  justify-content: space-around;
  &__item {
    color: $colorthird;
    width: 155px;
    height: 180px;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.01)
    );
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // border: 1px solid $colorsecond;
    text-align: center;
  }

  &__item-num {
    font-size: 34px;
    line-height: 40.8px;
    color: white;
    margin: 48px 0 25px;
  }

  &__item-descr {
    @extend %navbottom;
    text-transform: uppercase;
    width:40%;
  }
}
.cooperation {
  grid-column: 3/5;
  grid-row: 3/4;
  @extend %big;
  display: flex;
  align-items: flex-end;
  &__title {
    &-span {
      color: #5b78f6;
    }
  }
}

/*--Work--------------------------------------------------------------------------------*/
.work {
  &__inner {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 86px 350px 390px 200px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:not(&--1) {
      @extend %square;
      padding: 14px 26px;
      &:hover {
        box-shadow: 0 1px 1px $colormain;
      }
    }
    &--1 {
      grid-column: 2/4;
      grid-row: 1;
      text-align: center;
    }
    &--2 {
      grid-column: 1/2;
      grid-row: 1/4;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .work__item-img {
        height: 775px;
        width: 100%;
        background-image: url('../images/works/work1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
      }
    }
    &--3 {
      grid-column: 2/3;
      grid-row: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .work__item-img {
        height: 235px;
        width: 100%;
        background-image: url('../images/works/work2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
      }
    }
    &--4 {
      grid-column: 3/4;
      grid-row: 2/3;
      
    }
    &--5 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .work__item-img {
        height: 235px;
        width: 100%;
        background-image: url('../images/works/work3.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
      }
      
    }
    &--6 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .work__item-img {
        height: 235px;
        width: 100%;
        background-image: url('../images/works/work5.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
      }
    }
    &--7 {
      grid-column: 1/4;
      grid-row: 4/5;
    }
  }

  &__item-img {
    border-radius: 30px;
  }
}
.work-title {
  &__title {
    font-size: 74px;
    line-height: 88.8px;
  }
}

/*--Contact--------------------------------------------------------------------------------*/
.contact {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__social {
    max-width: 266px;
  }

  &__social-title {
    @extend %nav;
    margin-bottom: 25px;
  }

  &__items {
    display: flex;
    flex-flow: wrap;
    gap: 15px;
  }

  &__item {
    @extend %square;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
      90deg,
      rgba(32, 32, 32, 1) 0%,
      rgba(32, 32, 32, 1) 100%
    );
    border: 1px solid #2a2a2a;
    transition: all 0.5s;
    &:nth-of-type(2) {
      svg {
        width: 32px;
        height: 32px;
      }
    }
    path {
      transition: all 0.5s;
      fill: white;
    }
    &:hover {
      background: white;
    }
    &:hover path {
      fill: black;
    }
  }

  &__img-link {
  }

  &__img {
  }

  &__form {
    max-width: 767px;
    width: 100%;
    @extend %square;
    display: flex;
    flex-flow: column;
    padding: 40px 30px;
  }

  &__form-title {
    @extend %big;
    margin-bottom: 35px;
    &-span {
      color: #5b78f6;
    }
  }

  &__input {
    width: 100%;
    height: 55px;
    padding: 20px;
    margin-bottom: 15px;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.01)
    );
    border-radius: 10px;
    @extend %descr;
    color: $colormain;
  }

  &__textarea {
    width: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.01)
    );
    border-radius: 10px;
    height: 144px;
    padding: 20px;
    resize: none;
    margin-bottom: 15px;
    @extend %descr;
    color: $colormain;
  }
  &__btn {
    height: 55px;
    @extend %descr;
    background-color: #323232;
    border-radius: 10px;
    color: $colormain;
    transition: $transition;
    &:hover {
      color: black;
      background-color: $colormain;
    }
  }
}

/*About----------------------------------------------------------------*/

.about {

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    align-self: flex-start;
    width: 36.33%;
    @extend %square;
    padding: 38px;
    display: flex;
    flex-flow: column; 
    align-items: center;
    position: sticky;
    top: 100px;
  }

  &__photo {
    margin-bottom: 50px;
    border-radius: 30px;
    filter: grayscale(.7);
  }

  &__name {
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 32px;
  }

  &__social {
    margin-bottom: 30px;
    @extend %nav;
    color: $colorsecond
  }

  &__items {
    margin-bottom: 30px;
    display: flex;
    gap: 15px
  }

  &__item {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    @extend %square;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      transform: scale(80%);
    }
    path {
      fill: $colormain;
      transition: all 0.5s;
    }


    background: linear-gradient(
      90deg,
      rgba(32, 32, 32, 1) 0%,
      rgba(32, 32, 32, 1) 100%
    );
    border: 1px solid #2a2a2a;
    transition: all 0.5s;
    &:hover {
      background: white;
    }
    &:hover path {
      fill: black;
    }
  }

  &__item-link {}

  &__item-img {}

  &__button {
    width: 85.47%;
    text-align: center;
    
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
    @extend %nav;
    color: $colormain;
    padding: 15px 0;
    transition: $transition;
    background-color: #323232;
    border-radius: 12px;
    &:hover {
      color: black;
      background-color: $colormain;
    }
  }

  &__content {
    width: 55.90%
  }

  &__content-item {
    width:100%;
    &:first-of-type .about__content-title {
      margin-top: 0;
    }
  }

  &__content-title {
    font-size: 18px;
    line-height: 21.6px;
    margin-bottom: 70px;
    margin-top: 180px;
    
  }

  &__content-text {
    font-size: 16px;
    line-height: 25px;
    width: 100%
  }
}
.container {
}


@import "media"; /* Медиа запросы*/
